<div class="container">
  <h1>User</h1>
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name" id="name" #name="ngModel" [(ngModel)]="user.name">
    </div>

    <div class="form-group">
      <label for="Email">Email</label>
      <input type="text" class="form-control" name="email" id="email" #email="ngModel" [(ngModel)]="user.email">
    </div>

    <div class="form-group">
      <label for="Password">Password</label>
      <input type="text" class="form-control" name="password" id="password" #password="ngModel" [(ngModel)]="user.password">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>
